
<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<div ng-app="">
<p>Dados pra criar assinatura:</p>

<p>Nome : <input type="text" ng-model="nome" ></p>
<p>Email : <input type="text" ng-model="email" ></p>
<p>Telefone : <input type="text" ng-model="telefone" ></p>
<p>Telefone : <input type="text" ng-model="telefone2" ></p>
<p>Telefone : <input type="text" ng-model="telefone3" ></p>
<p>Função : <input type="text" ng-model="funcao" ></p>
</div>

<!--teste commit-->
</body>
</html>